# trabajamos el lenguaje de javascript
language: node_js
cache: # información ya configurada para el proyecto
  directories:
    - node_modules
    - ~/.npm

node_js: #version
  - '12'
git: # número de versiones (git) a guardar
  depth: 3

script: #script a ejecutar
  - yarn build

# manda emails a esos mails cuando es exitoso y cuando falla
notifications:
  slack: industriasgomez:GDjo3Fb2JKtnNDtZtg8V792K #Integración con notificaciones de Slack
  email:
    reciepients:
    - eric.gomez.sanchez@gmail.com
    - eric.gmz93@gmail.com
    on_success: always
    on_failure: always

deploy:
  provider: pages
  #github pages
  # configuración del deploy:
  skip_cleanup: true
  keep_history: true
  # creación de un token para la conexión
  # entre Travis y GitHub:
  github_token: $GITHUB_TOKEN
  # directorio resultante de la compilación:
  # xej: /bundle  /public ...etc
  local_dir: dist/
  target_branch: gh-pages
  # rama de publicación (sitio) de GitHub:

  commit-message: "Deploy del proyecto"
  on:
    branch: master